.container{
    height: 70vh;
    width: 50vw;
    background-color: #000000c2;
    border-radius: 20px;
    border: 2px solid blueviolet;
    padding: 10px;
    margin-top: 50px;
    overflow: auto;
}
.logRow{
    background-color: #1b1b1b;
    border: 2px solid #00fcbd;
    border-radius: 10px;
    height: 50px;
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.openRow{
    background-color: #1b1b1b;
    border: 2px solid #00fcbd;
    border-radius: 10px;
    width: 100%;
    height: max-content;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding-bottom: 10px;
}
.openRow h6{
    text-align: center;
}
.msgRow{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.border{
    background-color: #ffffff2a;
    width: 49%;
    padding: 10px;
    border-radius: 10px;
}